<div class="register-container full-height sm-p-t-30">
  <div class="container-sm-height full-height">
    <div class="row row-sm-height">
      <div class="col-sm-12 col-sm-height col-middle">
        <%= image_tag('groupby_logo_2x.png') %>
        <h3>Pages makes it easy to enjoy what matters the most in your life</h3>
        <p>
          <small>
            Create a pages account. If you have a facebook account, log into it for this process. Sign in with <a href="#" class="text-info">Facebook</a> or <a href="#" class="text-info">Google</a>
          </small>
        </p>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>


            <div class="row">
              <div class="col-sm-12">
                <div class="form-group form-group-default" >
                  <%= f.label :email %>
                  <%= f.email_field :email, autofocus: false, placeholder: "User email", class: "form-control", readonly: true%>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group form-group-default">
                  <%= f.label :current_password %>
                  <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %>
                  <%= f.password_field :current_password, autocomplete: "off", placeholder: "Minimum of 6 Charactors", class: "form-control"%>
                </div>
              </div>
            </div>




            <div class="row">
              <div class="col-sm-12">
                <div class="form-group form-group-default">
                  <%= f.label :name %>
                  <%= f.text_field :name, autocomplete: "off", placeholder: "Name", class: "form-control" %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group form-group-default">
                  <%= f.label :organization %>
                  <%= f.text_field :organization, autocomplete: "off", placeholder: "Organization", class: "form-control" %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group form-group-default">
                  <%= f.label :user_profile %>
                  <%= f.file_field :userProfile %>
                </div>
              </div>
            </div>

            <%= f.submit "Your Info Edit!", class: "btn btn-primary btn-cons m-t-10" %>
        <% end %>


      </div>
    </div>
  </div>
</div>
<div class=" full-width">
  <div class="register-container m-b-10 clearfix">
    <div class="inline pull-middle">
      <%= image_tag('groupby_logo.png') %>
    </div>
  </div>
</div>