<div class="register-container full-height sm-p-t-30">
  <div class="container-sm-height full-height">
    <div class="row row-sm-height">
      <div class="col-sm-12 col-sm-height col-middle">
        <%= image_tag('groupby_logo_2x.png') %>
        <h3>Group by.를 통해서 편리한 프로젝트 및 그룹을 관리해보세요!</h3>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>

            <div class="row">
              <div class="col-sm-12 p-b-10">
                <div class="form-group form-group-default">
                  <%= f.label :email %>
                  <%= f.email_field :email, autofocus: true, placeholder: "User email", class: "form-control" %>
                </div>
                <small class="p-l-10">인증을 위해서 살제 사용중인 이메일을 입력해주세요.</small>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group form-group-default">
                  <%= f.label :password %>
                  <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %>
                  <%= f.password_field :password, autocomplete: "off", placeholder: "Minimum of 6 Charactors", class: "form-control"%>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group form-group-default">
                  <%= f.label :password_confirmation %>
                  <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Minimum of 6 Charactors", class: "form-control" %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group form-group-default">
                  <%= f.label :name %>
                  <%= f.text_field :name, autocomplete: "off", placeholder: "Name", class: "form-control" %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group form-group-default">
                  <%= f.label :organization %>
                  <%= f.text_field :organization, autocomplete: "off", placeholder: "Organization", class: "form-control" %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group form-group-default">
                  <%= f.label :user_profile %>
                  <%= f.file_field :userProfile, class: 'form-control' %>
                </div>
              </div>
            </div>

            <%= f.submit "Sign up", class: "btn btn-primary btn-cons m-t-10", data: { confirm: '본인 이메일에서 인증을 하여 회원 가입을 완료해주세요.' } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class=" full-width">
  <div class="register-container m-b-10 clearfix">
    <div class="inline pull-middle">
      <%= image_tag('groupby_logo.png') %>
    </div>
  </div>
</div>