<%= form_with(url: user_groups_path, local: true) do |form| %>
    <div class="form-group form-group-default">
      <%= form.label :title %>
      <%= form.text_field :title, id: :group_title, :class => 'form-control' %>
    </div>

    <div class="form-group form-group-default">
      <%= form.label :description %>
      <%= form.text_area :description, id: :group_description, :class => 'form-control' %>
    </div>
    <div class="form-group form-group-default">
      <%= form.label :group_profile_image %>
      <%= form.file_field :groupProfile %>
    </div>
    <div class="form-group form-group-default">
      <%= form.label :group_cover_image %>
      <%= form.file_field :groupCover %>
    </div>
    <div class="form-group form-group-default">

      <%= form.collection_select(:category , Category.all, :id, :name) %>

    </div>

    <div class="actions">
      <%= form.submit 'Save Changes', :class => 'btn btn-primary' %>
    </div>
<% end %>
