<script>
    var convert_event = function(content_id){
        //custom notify
//        $.notify.addStyle('happyblue', {
//            html: "<div>☺<span data-notify-text/>☺</div>",
//            classes: {
//                base: {
//                    "white-space": "nowrap",
//                    "background-color": "lightblue",
//                    "padding": "5px"
//                },
//                superblue: {
//                    "color": "white",
//                    "background-color": "blue"
//                }
//            }
//        });

        $.ajax({
            url: '/groups/convert_event/'+content_id,
            method: 'post',
            success: function(){
                $.notify("Event에 추가되었습니다.", "success");
                $('.mk_event').parent().fadeOut();
            },
            error: function(){
                $.notify('Fail')
            }
        });
    }
</script>

<div class="social-wrapper">
  <div class="social " data-pages="social">
    <!-- START JUMBOTRON -->
    <div class="jumbotron" data-pages="parallax" data-social="cover">
      <div class="cover-photo">
        <% @usergroups.each do |user| %>
            <% if user.group_id == @group.id %>
                <img src="<%= @group.groupCover.url %>" >
            <% end %>
        <% end %>
      </div>
      <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
        <div class="inner">
          <div class="pull-bottom bottom-left m-b-40">
            <h5 class="text-white no-margin">welcome to pages social</h5>
            <h1 class="text-white no-margin"><span class="semi-bold">social</span> cover</h1>
          </div>
        </div>
      </div>
    </div>
    <!-- END JUMBOTRON -->
    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
      <div class="feed">
        <!-- START DAY -->
        <div class="day" data-social="day">
          <!-- START ITEM -->
          <div class="card no-border bg-transparent full-width" data-social="item">
            <!-- START CONTAINER FLUID -->
            <div class="container-fluid p-t-30 p-b-30 ">
              <div class="row">
                <div class="col-md-4">
                  <div class="container-xs-height">
                    <div class="row-xs-height">
                      <div class="col-xs-height p-l-20">
                        <h3 class="no-margin"><%= @group.title %></h3></br>
                        <p class="no-margin fs-16">
                          <% chk = false %>
                          <% @usergroups.each do |user| %>
                              <% if @group.id == user.group_id %>
                                  <% if current_user.id == user.user_id %>
                                      <% chk = true %>
                                  <% end %>
                              <% end %>
                          <% end %>
                          <% if chk == false %>
                              <%= link_to 'Join', user_group_join_path(current_user.id, @group.id), :class => 'btn btn-success btn-cons'  %>
                          <% else %>
                              <%= link_to 'Invite', user_group_invite_path(current_user.id, @group.id), :class => 'btn btn-success btn-cons' %>
                          <% end %>
                          <button class="btn btn-primary m-l-10" data-toggle="modal" data-target="#editModal">Edit</button>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal fade stick-up" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Edit</h4>
                      </div>
                      <div class="modal-body">

                        <%= form_with(url: user_group_path, :method => :put , local: true) do |form| %>
                            <div class="form-group form-group-default">
                              <%= form.label :title %>
                              <%= form.text_field :title, id: :group_title, :class => 'form-control' %>
                            </div>

                            <div class="form-group form-group-default">
                              <%= form.label :description %>
                              <%= form.text_area :description, id: :group_description, :class => 'form-control' %>
                            </div>
                            <div class="form-group form-group-default">
                              <%= form.label :group_profile_image %>
                              <%= form.file_field :groupProfile %>
                            </div>
                            <div class="form-group form-group-default">
                              <%= form.label :group_cover_image %>
                              <%= form.file_field :groupCover %>
                            </div>

                            <div class="actions">
                              <%= form.submit 'Save Changes', :class => 'btn btn-primary' %>
                            </div>
                        <% end %>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <p class="no-margin fs-16"><%= @group.description %></p>
                </div>
                <div class="col-md-4">
                  <p class="m-b-5 small">Group Friends</p>
                  <ul class="list-unstyled ">
                    <% @usergroups.each do |user| %>
                        <% if user.group_id == @group.id %>
                            <li class="m-r-10">
                              <div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
                                <%= image_tag('profiles/1x.jpg') %>
                              </div>
                            </li>
                        <% end %>
                    <% end %>
                    <li>
                      <div class="thumbnail-wrapper d32 circular b-white" style="cursor: pointer;">
                        <div class="bg-master text-center text-white"><span data-toggle="modal" data-target="#perModal">More</span></div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- END CONTAINER FLUID -->
          </div>
          <!-- Modal -->
          <div class="modal fade slide-right" id="perModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document" style="width: 750px;">
              <div class="modal-content" style="width: 750px;">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">현재 가입된 유저</h4>
                </div>
                <div class="modal-body">
                  <% @users.each do |user1| %>
                      <% chk = true %>
                      <% @usergroups.each do |user2| %>
                          <% if user2.group_id == @group.id %>
                              <% if user1.id == user2.user_id %>
                                  <% chk = false %>
                                  <% break %>
                              <% end %>
                          <% end %>
                      <% end %>
                      <div class="gallery-item " data-width="1" data-height="1" style="float: left;margin: 30px">
                        <%= image_tag('gallery/2_1.jpg', :class => 'image-responsive-height') %>
                        <!-- START PREVIEW -->
                        <!-- END PREVIEW -->
                        <!-- START ITEM OVERLAY DESCRIPTION -->
                        <div class="overlayer bottom-left full-width">
                          <div class="overlayer-wrapper">
                            <div class="gradient-grey p-l-20 p-r-20 p-b-5">
                              <div class="">
                                <p class="pull-left bold text-white fs-14 p-t-10">
                                  <% if chk == false %>
                                      <%= user1.email %>
                                  <% end %>
                                </p>
                                <div class="clearfix"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- END PRODUCT OVERLAY DESCRIPTION -->
                      </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <!-- END ITEM -->
          <!-- START ITEM -->
          <div class="card padding-20" data-social="item">
            <form class="simform no-margin" autocomplete="off" data-social="status">
              <div class="status-form-inner">
                <ol class="questions">
                  <li>
                    <input placeholder="일정 추가하기" id="status-q1" name="q1" type="text" data-toggle="modal" data-target="#myModal" style="cursor: pointer;"/>
                  </li>
                </ol>
                <!-- /questions -->
                <button class="submit" type="submit">Send answers</button>
                <div class="controls">
                  <button class="next"></button>
                  <div class="progress"></div>
                  <span class="number">
                    <span class="number-current"></span>
                    <span class="number-total"></span>
                  </span>
                  <span class="error-message"></span>
                </div>
                <!-- / controls -->
              </div>
              <!-- /simform-inner -->
              <span class="final-message"></span>
            </form>
            <!-- /simform -->

            <!-- Modal -->
            <div class="modal fade stick-up" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">일정 추가하기</h4>
                  </div>
                  <div class="modal-body">

                    <%= render 'contents/form', content: @content %>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END ITEM -->
          <!-- START ITEM -->
          <!-- START ITEM -->
          <% @contents.each do |content| %>
              <div class="card share  col1" data-social="item">
                <div class="card-header clearfix">
                  <div class="user-pic">
                    <%= image_tag('profiles/5x.jpg') %>
                  </div>
                  <span style="font-weight: bold;font-size: 18px;">Person Name</span>
                  <br>
                  <span class="location semi-bold">START : <%= content.start_date %></span></br>
                  <span class="location semi-bold">END : <%= content.end_date %></span>
                  </h6>
                </div>
                <div class="card-description">
                  <p style="font-weight: bold;font-size: 18px;text-align: center;
                      display: -webkit-box;
                      overflow: hidden;
                      word-break: break-all;
                      text-overflow: ellipsis;
                      -webkit-box-orient: vertical;"><%= content.title %></p>
                  <img src="<%= content.image.url %>" >
                  <p style="
                  display: -webkit-box;
                      overflow: hidden;
                      word-break: break-all;
                      text-overflow: ellipsis;
                      -webkit-box-orient: vertical;"><%= content.content %></p>
                </div>
                <div class="card-footer clearfix">
                  <div class="time">few seconds ago</div>
                  <ul class="reactions" id="content_modal" data-toggle="modal" data-target="#contentModal<%= content.id %>">
                    <li><a href="#"><i class="fa fa-commenting-o"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-trash-o"></i></a>
                    </li>
                    <li><a href="#"><l class="fa fa-pencil"></l></a> </li>
                  </ul>
                </div>
              </div>

              <div class="modal fade fill-in" id="contentModal<%= content.id %>" tabindex="-1" role="dialog" aria-labelledby="modalFillInLabel" aria-hidden="true">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                  <i class="pg-close"></i>
                </button>
                <div class="modal-dialog " style="min-width: 880px;">
                  <div class="modal-content" style="background: rgba(255, 255, 255, 0.53);">
                    <div class="modal-header" style="border-bottom: 1px solid;border-bottom-color: darkgrey;">
                      <div class="user-pic" style="float: left">
                        <%= image_tag('profiles/5x.jpg', :style => 'width: 40px;border-radius: 100%;' ) %>
                      </div>
                      <div style="float: left;">
                        <h3 class="text-left p-l-20" ><%= content.title %></h3>
                      </div>
                      <div style="float: right">
                        <h4 class="text-right semi-bold"> <%= content.start_date %> - <%= content.end_date %> </h4>
                      </div>
                    </div>
                    <div class="modal-body" style="min-height: 500px;border-bottom: 1px solid;border-bottom-color: darkgrey;">
                      <div class="p-t-20 p-b-20" style="text-align: center">
                        <img src="<%= content.image.url %>" class="image-responsive-height">
                      </div>
                      <div>
                        <h3><%= content.content %></h3>
                      </div>
                    </div>
                    <div class="modal-footer" style="min-height: 300px;">
                      <div>
                        <div style="float: left;">
                          <i class="fa fa-commenting fa-2x" aria-hidden="true" style="line-height: 53.64px;">
                          </i>
                          <h4 class="p-l-15" style="float: right">Comments</h4>
                        </div>
                        <div style="float: right;">
                          <h3>Group by.</h3>
                        </div>
                      </div>
                      <form id="comment-input" class="form-group form-group-default input-group" style="float: left;" method="get" action="/groups/comments_create/<%= content.id %>/<%= @group.id %>">
                        <label class="text-left">Comments</label>
                        <input type="text" class="form-control" id="comment-text" name="comment">
                        <a type="submit" id="comment-enter" class="input-group-addon">Enter</a>
                      </form>
                      <% content.comments.each do |com| %>
                          <div id="comment-div" class="p-b-10 p-t-10" style="float: left;width: 100%;text-align: left;">
                            <div class="user-pic p-r-15" style="float: left">
                              <%= image_tag('profiles/5x.jpg', :style => 'width: 50px;border-radius: 100%;' ) %>
                            </div>
                            <span class="semi-bold"><%= com.user_name %></span>
                            <h4 style="line-height: 10px;"><%= com.comment %></h4>
                          </div>
                      <% end %>
                    </div>
                  </div>
                  <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
              </div>
              <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

              <script>
                  $('#comment-input').on('submit', function(e) {
                      e.preventDefault();
                      var content = $('#comment-text').val();
                      $.ajax({
                          url: '/groups/comments_create/<%= content.id %>/<%= @group.id %>',
                          type: "GET",
                          data: $('#comment-input').serialize(),
                          success: function (data) {
                              $('#comment-text').val('');
                              $('.modal-footer').append('<div id="comment-div" class="p-b-10 p-t-10" style="float: left;width: 100%;text-align: left;">' +
                                  '<div class="user-pic p-r-15" style="float: left">' +
                                  '<%= image_tag('profiles/5x.jpg', :style => 'width: 50px;border-radius: 100%;' ) %>' +
                                  '</div>' + '<span class="semi-bold">' + '<%= current_user.email %>' + '</span>' + '<h4 style="line-height: 10px;">' + content + '</h4>' + '</div>');
                          }
                      });
                  });
                  $('#comment-enter').on('click', function(e) {
                      e.preventDefault();
                      var content = $('#comment-text').val();
                      $.ajax({
                          url: '/groups/comments_create/<%= content.id %>/<%= @group.id %>',
                          type: "GET",
                          data: $('#comment-input').serialize(),
                          success: function (data) {
                              $('#comment-text').val('');
                              $('.modal-footer').append('<div id="comment-div" class="p-b-10 p-t-10" style="float: left;width: 100%;text-align: left;">' +
                                  '<div class="user-pic p-r-15" style="float: left">' +
                                  '<%= image_tag('profiles/5x.jpg', :style => 'width: 50px;border-radius: 100%;' ) %>' +
                                  '</div>' + '<span class="semi-bold">' + '<%= current_user.email %>' + '</span>' + '<h4 style="line-height: 10px;">' + content + '</h4>' + '</div>');
                          }
                      });
                  });
              </script>
          <% end %>
          <!-- END ITEM -->
        </div>
        <!-- END DAY -->
      </div>
      <!-- END FEED -->
    </div>
    <!-- END CONTAINER FLUID -->
  </div>
  <!-- /container -->
</div>

<script>
    $(document).ready(function() {
        document.getElementById("status-q1").readOnly = true;

        $('#startDatepicker').datepicker({
            minDate: 0
        });
        $('#startDatepicker').datepicker("option", "maxDate", $("#endDatepicker").val());
        $('#startDatepicker').datepicker("option", "onClose", function ( selectedDate ) {
            $("#endDatepicker").datepicker( "option", "minDate", selectedDate );
        });

        $('#endDatepicker').datepicker();
        $('#endDatepicker').datepicker("option", "minDate", $("#startDatepicker").val());
        $('#endDatepicker').datepicker("option", "onClose", function ( selectedDate ) {
            $("#startDatepicker").datepicker( "option", "maxDate", selectedDate );
        });
    });
</script>

<style>
  .semi-bold {
    font-size: 10px;
  }
  .card-content-list {
    display: inline;
  }
</style>