<div class="social-wrapper">
  <div class="social " data-pages="social">
    <!-- START JUMBOTRON -->
    <div class="jumbotron" data-pages="parallax" data-social="cover">
      <div class="cover-photo">
        <%= image_tag('social/cover.png') %>
      </div>
      <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
        <div class="inner">
          <div class="pull-bottom bottom-left m-b-40">
            <h5 class="text-white no-margin">welcome to pages social</h5>
            <h1 class="text-white no-margin"><span class="semi-bold">social</span> cover</h1>
          </div>
        </div>
      </div>
    </div>
    <!-- END JUMBOTRON -->
    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
      <div class="feed">
        <!-- START DAY -->
        <div class="day" data-social="day">
          <!-- START ITEM -->
          <div class="card no-border bg-transparent full-width" data-social="item">
            <!-- START CONTAINER FLUID -->
            <div class="container-fluid p-t-30 p-b-30 ">
              <div class="row">
                <div class="col-md-4">
                  <div class="container-xs-height">
                    <div class="row-xs-height">
                      <div class="col-xs-height p-l-20">
                        <h3 class="no-margin"><%= @group.title %></h3></br>
                        <p class="no-margin fs-16">
                          <% chk = false %>
                          <% @usergroups.each do |user| %>
                              <% if @group.id == user.group_id %>
                                  <% if current_user.id == user.user_id %>
                                      <% chk = true %>
                                  <% end %>
                              <% end %>
                          <% end %>
                          <% if chk == false %>
                              <%= link_to 'Join', user_group_join_path(current_user.id, @group.id), :class => 'btn btn-success btn-cons'  %>
                          <% else %>
                              <%= link_to 'Invite', user_group_invite_path(current_user.id, @group.id), :class => 'btn btn-success btn-cons' %>
                          <% end %>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <p class="no-margin fs-16"><%= @group.description %></p>
                </div>
                <div class="col-md-4">
                  <p class="m-b-5 small">Group Friends</p>
                  <ul class="list-unstyled ">
                    <% @usergroups.each do |user| %>
                        <% if user.group_id == @group.id %>
                            <li class="m-r-10">
                              <div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
                                <%= image_tag('profiles/1x.jpg') %>
                              </div>
                            </li>
                        <% end %>
                    <% end %>
                    <li>
                      <div class="thumbnail-wrapper d32 circular b-white">
                        <div class="bg-master text-center text-white"><span data-toggle="modal" data-target="#perModal">More</span></div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- END CONTAINER FLUID -->
          </div>
          <!-- Modal -->
          <div class="modal fade slide-right" id="perModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">현재 가입된 유저</h4>
                </div>
                <div class="modal-body">
                  <% @users.each do |user1| %>
                      <% chk = true %>
                      <% @usergroups.each do |user2| %>
                          <% if user2.group_id == @group.id %>
                              <% if user1.id == user2.user_id %>
                                  <% chk = false %>
                                  <% break %>
                              <% end %>
                          <% end %>
                      <% end %>
                      <% if chk == false %>
                          <%= user1.email %> </br>
                      <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <!-- END ITEM -->
          <!-- START ITEM -->
          <div class="card col2 padding-20" data-social="item">
            <form class="simform no-margin" autocomplete="off" data-social="status">
              <div class="status-form-inner">
                <ol class="questions">
                  <li>
                    <span>
                      <label for="status-q1">What's on your mind?</label>
                    </span>

                    <input id="status-q1" name="q1" type="text" data-toggle="modal" data-target="#myModal"/>

                  </li>
                </ol>
                <!-- /questions -->
                <button class="submit" type="submit">Send answers</button>
                <div class="controls">
                  <button class="next"></button>
                  <div class="progress"></div>
                  <span class="number">
                    <span class="number-current"></span>
                    <span class="number-total"></span>
                  </span>
                  <span class="error-message"></span>
                </div>
                <!-- / controls -->
              </div>
              <!-- /simform-inner -->
              <span class="final-message"></span>
            </form>
            <!-- /simform -->

            <!-- Modal -->
            <div class="modal fade stick-up" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">일정 추가하기</h4>
                  </div>
                  <div class="modal-body">

                    <%= render 'contents/form', content: @content %>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END ITEM -->
          <!-- START ITEM -->
          <div class="card status col2" data-social="item">
            <div class="circle" data-toggle="tooltip" title="Label" data-container="body">
            </div>
            <h5>David Nester updated his status
              <span class="hint-text">few seconds ago</span></h5>
            <h2>Earned my first salary bonus for the best design of the year award.</h2>
            <ul class="reactions">
              <li><a href="#">5,345 <i class="fa fa-comment-o"></i></a>
              </li>
              <li><a href="#">23K <i class="fa fa-heart-o"></i></a>
              </li>
            </ul>
          </div>
          <!-- END ITEM -->
          <!-- START ITEM -->
          <% @contents.each do |content| %>
              <div class="card share  col1" data-social="item">
                <div class="circle" data-toggle="tooltip" title="Label" data-container="body">
                </div>
                <div class="card-header clearfix">
                  <div class="user-pic">
                    <%= image_tag('profiles/5x.jpg') %>
                  </div>
                  <span style="font-weight: bold;font-size: 18px;">Person Name</span>
                  <br>
                  <span class="location semi-bold">START : <%= content.start_date %></span></br>
                  <span class="location semi-bold">END : <%= content.end_date %></span>
                  </h6>
                </div>
                <div class="card-description">
                  <p style="font-weight: bold;font-size: 18px;text-align: center;
                      display: -webkit-box;
                      overflow: hidden;
                      word-break: break-all;
                      text-overflow: ellipsis;
                      -webkit-box-orient: vertical;"><%= content.title %></p>
                  <p style="
                  display: -webkit-box;
                      overflow: hidden;
                      word-break: break-all;
                      text-overflow: ellipsis;
                      -webkit-box-orient: vertical;"><%= content.content %></p>
                  <div class="card-content">
                    <ul class="reactions" style="text-align: right;list-style-type: none;height: 0px;">
                      <li class="card-content-list">
                        <a href="#"><i class="fa fa-expand"></i>
                        </a>
                      </li>
                      <li class="card-content-list">
                        <a href="#"><i class="fa fa-heart-o"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="card-footer clearfix">
                  <div class="time">few seconds ago</div>
                  <ul class="reactions">
                    <li><a href="#">5,345 <i class="fa fa-comment-o"></i></a>
                    </li>
                    <li><a href="#">23K <i class="fa fa-heart-o"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
          <% end %>
          <!-- END ITEM -->

        </div>
        <!-- END DAY -->
      </div>
      <!-- END FEED -->
    </div>
    <!-- END CONTAINER FLUID -->
  </div>
  <!-- /container -->
</div>

<script>
    $(document).ready(function() {
        document.getElementById("status-q1").readOnly = true;

        $('#startDatepicker').datepicker({
            minDate: 0
        });
        $('#startDatepicker').datepicker("option", "maxDate", $("#endDatepicker").val());
        $('#startDatepicker').datepicker("option", "onClose", function ( selectedDate ) {
            $("#endDatepicker").datepicker( "option", "minDate", selectedDate );
        });

        $('#endDatepicker').datepicker();
        $('#endDatepicker').datepicker("option", "minDate", $("#startDatepicker").val());
        $('#endDatepicker').datepicker("option", "onClose", function ( selectedDate ) {
            $("#startDatepicker").datepicker( "option", "maxDate", selectedDate );
        });
    });
</script>

<style>
  .semi-bold {
    font-size: 10px;
  }
  .card-content-list {
    display: inline;
  }
</style>