<!-- START APP -->
<!-- START SECONDARY SIDEBAR MENU-->
<nav class="secondary-sidebar padding-30">
  <!--<a href="" class="btn btn-complete btn-block btn-compose m-b-30">Compose</a>-->
  <form action="/usermail/insertmail/<%= current_user.id %>" method="get">

    <button class="btn btn-complete btn-block btn-compose m-b-30" type="submit">받아오기</button>
  </form>
  <p class="menu-title">BROWSE</p>
  <ul class="main-menu">
    <li class="active">
      <a href="#">
        <span class="title"><i class="pg-inbox"></i> Inbox</span>
        <span class="badge pull-right">5</span>
      </a>
    </li>
    <li class="">
      <a href="#">
        <span class="title"><i class="pg-folder"></i> All mail</span>
      </a>
      <ul class="sub-menu no-padding">
        <li>
          <a href="#">
            <span class="title">Important</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="title">Labeled</span>
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">
        <span class="title"><i class="pg-sent"></i> Sent</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="title"><i class="pg-spam"></i> Spam</span>
        <span class="badge pull-right">10</span>
      </a>
    </li>
  </ul>
  <p class="menu-title m-t-20 all-caps">Quick view</p>
  <ul class="sub-menu no-padding">
    <li>
      <a href="#">
        <span class="title">Documents</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="title">Flagged</span>
        <span class="badge pull-right">5</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="title">Images</span>
      </a>
    </li>
  </ul>
</nav>
<!-- END SECONDARY SIDEBAR MENU -->
<div class="inner-content full-height">
  <div class="split-view">
    <!-- START SPLIT LIST VIEW -->
    <div class="split-list">
      <a class="list-refresh" href="#">
        <i class="fa fa-refresh"></i>
      </a>
      <div data-email="list" class="list-view">
        <!-- START EMAIL LIST SORTED BY DATE -->
        <!-- END EMAIL LIST SORTED BY DATE -->
        <div class="list-view-wrapper" data-ios="false">
          <div class="list-view-group-container">
            <div class="list-view-group-header">
              <span>Today April 23</span>
            </div>
            <ul class="no-padding">
              <% @emails.each do |m| %>
                  <li class="item padding-15 active" data-email-id=<%= m.id %> >
                    <div class="thumbnail-wrapper d32 circular bordered b-success">
                    </div>
                    <div class="checkbox  no-margin p-l-10">
                      <input type="checkbox" value="1" id="emailcheckbox-0-0">
                      <label for="emailcheckbox-0-0"></label>
                    </div>
                    <div class="inline m-l-15">
                      <p class="recipients no-margin hint-text small"><%= m.from %></p>
                      <p class="subject no-margin"><%= m.subject %>></p>
                      <p class="body no-margin">
                        <%= m.content %>
                      </p>
                    </div>
                    <div class="datetime"><%= m.date %></div>
                    <div class="clearfix"></div>
                  </li>
              <% end %>
            </ul>
          </div>
        </div>
        <!-- END SPLIT LIST VIEW -->
      </div>
    </div>
    <!-- START SPLIT DETAILS -->
    <div data-email="opened" class="split-details">
      <div class="no-result">
        <h1>No email has been selected</h1>
      </div>
      <div class="email-content-wrapper" style="display:none">
        <div class="actions-wrapper menuclipper bg-master-lightest">
          <ul class="actions menuclipper-menu no-margin p-l-20 ">
            <li class="visible-sm-inline-block visible-xs-inline-block">
              <a href="#" class="split-list-toggle"><i class="fa fa-angle-left"></i> All Inboxes
              </a>
            </li>
            <li class="no-padding "><a href="#" class="text-info">Reply</a>
            </li>
            <li class="no-padding "><a href="#">Reply all</a>
            </li>
            <li class="no-padding "><a href="#">Forward</a>
            </li>
            <li class="no-padding "><a href="#">Mark as read</a>
            </li>
            <li class="no-padding "><a href="#" class="text-danger">Delete</a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="email-content">
          <div class="email-content-header">
            <div class="thumbnail-wrapper d48 circular bordered">
              <%= image_tag('profiles/avatar2x.jpg') %>
            </div>
            <div class="sender inline m-l-10">
              <p class="name no-margin bold">
              </p>
              <p class="datetime no-margin"></p>
            </div>
            <div class="clearfix"></div>
            <div class="subject m-t-20 m-b-20 semi-bold">
            </div>
            <div class="fromto">
              <div class="pull-left">
                <div class="btn-group dropdown-default">
                  <a class="btn dropdown-toggle btn-small btn-rounded" data-toggle="dropdown" href="#">
                    David Nester
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a>
                    </li>
                    <li><a href="#">Friend</a>
                    </li>
                    <li><a href="#">Report</a>
                    </li>
                  </ul>
                </div>
                <label class="inline">
                  <span class="muted">&nbsp;&nbsp;to</span>
                  <span class=" small-text">johnsmith@skyace.com</span>
                </label>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="email-content-body m-t-20">
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- END SPLIT DETAILS -->
  <!-- START COMPOSE BUTTON FOR TABS -->
  <div class="compose-wrapper visible-xs">
    <a class="compose-email text-info pull-right m-r-10 m-t-10" href="email_compose.html"><i class="fa fa-pencil-square-o"></i></a>
  </div>
  <!-- END COMPOSE BUTTON -->
</div>
</div>
<!-- END APP -->