<div class="home-index full-height" style="padding-left: 16px;background-color: ghostwhite;overflow: auto;">
  <!-- PROJECT ROW -->
  <div class="row">

    <!-- Alert -->
    <div class="alert p-t-15" role="alert" >
      <h4 class="alert-heading p-l-30" >프로젝트 <span class="semi-bold"> <a href="#" class="p-l-10" style="color: #51646b;font-size: small;">모두보기</a> </span> </h4>
      <hr class="hr-line">
    </div>
    <div class="row" style="margin: 15px">
      <% @userprojects.each do |userproject| %>
          <div class="col-md-4 col-lg-3 hidden-xlg m-b-10">
            <!-- START WIDGET widget_imageWidgetBasic-->
            <div class="widget-11-2 panel panel-condensed no-margin widget-loader-circle">
              <div class="padding-25">
                <div class="pull-left">
                  <h3 class="text-success no-margin semi-bold" style="color: black !important;">
                    <%= userproject.title %></h3>
                </div>
                <% if Date.today().to_date - userproject.created_at.to_date <= 1  %>
                    <span class="label label-warning font-montserrat fs-11 pull-right">NEW EVENTS</span>
                <% end %>
                <div class="clearfix"></div>
              </div>
              <div class="auto-overflow widget-11-2-table" style="height: 200px;">
                <table class="table table-condensed table-hover" id="condensedTable">
                  <tbody>
                  <% @projectevents[userproject.id].each do |event| %>
                      <tr>
                        <td class="font-montserrat all-caps fs-12 col-lg-5" colspan="2" style="border-right: 1px inset whitesmoke;"><%= event.title %></td>
                        <td class="text-left b-r b-dashed b-grey col-lg-3" colspan="2" style="border-right: none;"><%= event.updated_at.to_date %></td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
              <div class="padding-25">
                <p class="small no-margin">
                  <%= link_to project_path(userproject.id) do %>
                      <i class="fa fs-16 fa-arrow-circle-o-down text-success m-r-10"></i>
                  <% end %>
                  <span class="hint-text ">Show more details of PROJECT</span>
                </p>
              </div>
            </div>
            <!-- END WIDGET -->
          </div>

      <% end %>
    </div>
  </div>

  <!-- My Group ROW -->
  <div class="row" style = "margin-top:70px">
    <div class="alert" role="alert">
      <h4 class="alert-heading p-l-30" >내가 가입한 그룹방 <span class="semi-bold"> <a href="#" class="p-l-10" style="color: #51646b;font-size: small;">모두보기</a> </span> </h4>
      <hr class="hr-line">
    </div>

    <div class="gallery " style="margin: 15px">
      <% @usergroups.each do |usergroup| %>

          <div class="gallery-item " data-width="1" data-height="1" href="user_group_path(current_user.id, usergroup.id)">
            <%= link_to group_path(usergroup.id) do %>
                <img src="<%= usergroup.groupProfile.url %>" class="image-responsive-height" alt="Image Not Found" style="height: 100%;">
                <!-- START PREVIEW -->
                <!-- END PREVIEW -->
                <!-- START ITEM OVERLAY DESCRIPTION -->
                <div class="overlayer bottom-left full-width">
                  <div class="overlayer-wrapper">
                    <div class="gradient-grey p-l-20 p-r-20 p-b-5">
                      <div class="">
                        <div class="clearfix"></div>
                      </div>
                      <div class="m-t-10">
                        <div class="pull-right col-md-2">
                          <span class="label label-danger font-montserrat fs-11"><i class="fa fa-user-o" aria-hidden="true"></i> &nbsp;<%= usergroup.cnt %></span>
                        </div>
                        <div class="pull-right">

                          <% if Date.today().to_date - usergroup.created_at.to_date <= 1  %>
                              <span class="label label-warning font-montserrat fs-11">NEW</span>
                          <% end %>
                        </div>

                        <div class="clearfix"></div>
                      </div>
                      <div class="row">
                        <div class="group-title pull-left col-md-6 m-t-10" style="color: ivory;">
                          <p class="semi-bold" style="font-size: x-large;
                              display: inline-block;
                              width: 180px;
                              overflow: hidden;
                              white-space: nowrap;
                              text-overflow: ellipsis;"> <%= usergroup.title %> </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END PRODUCT OVERLAY DESCRIPTION -->
                </div>
            <% end %>
      <% end %>
    </div>

  </div>

  <!— Categories —>
  <% @categories.each do |category| %>
      <!— Category 1 Group ROW —>
      <div class="row" style = "margin-top:70px">
        <div class="alert" role="alert">
          <h4 class="alert-heading p-l-30" ><%= category.name %> <span class="semi-bold"> <a href="#" class="p-l-10" style="color: #51646b;font-size: small;">모두보기</a> </span> </h4>
          <hr class="hr-line">
        </div>
        <div class="gallery " style="margin: 15px">
          <% @categorygroups[category.id].each do |categorygroup| %>

              <div class="gallery-item " data-width="1" data-height="1" href="user_group_path(current_user.id, usergroup.id)">
                <%= link_to group_path(categorygroup.id) do %>
                    <img src="<%= categorygroup.groupProfile.url %>" class="image-responsive-height" alt="Image Not Found">
                    <!— START PREVIEW —>
                    <!— END PREVIEW —>
                    <!— START ITEM OVERLAY DESCRIPTION —>
                    <div class="overlayer bottom-left full-width">
                      <div class="overlayer-wrapper">
                        <div class="gradient-grey p-l-20 p-r-20 p-b-5">
                          <div class="">
                            <div class="clearfix"></div>
                          </div>
                          <%= categorygroup.title %>
                          <div class="pull-right m-t-10">
                            <span class="label label-danger font-montserrat fs-11"><i class="fa fa-user-o" aria-hidden="true"></i> &nbsp;<%= categorygroup.cnt %></span>
                          </div>
                          <div class="m-t-10">

                            <div class="inline m-l-10">
                              <p class="no-margin text-white fs-12"><%= categorygroup.description %></p>
                            </div>
                            <div class="pull-right m-t-10">

                              <% if Date.today().to_date - categorygroup.created_at.to_date <= 1  %>
                                  <span class="label label-warning font-montserrat fs-11">NEWS</span>
                              <% end %>
                            </div>

                            <div class="clearfix"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!— END PRODUCT OVERLAY DESCRIPTION —>
                    </div>
                <% end %>
          <% end %>
        </div>

      </div>
  <% end %>

</div>

<style>
  .alert {
    background-color: ghostwhite;
    border-color: grey;
    margin-bottom: 10px;
  }
  .hr-line {
    border-color: #ce8f22;
  }
</style>