<div class="home-index" style="padding-left: 16px;background-color: white;">
  <!-- PROJECT ROW -->
  <div class="row">

    <!-- Alert -->
    <div class="alert p-t-15" role="alert" >
      <h4 class="alert-heading p-l-30" >프로젝트 <span class="semi-bold"> <a href="#" class="p-l-10" style="color: #51646b;font-size: small;">모두보기</a> </span> </h4>
      <hr class="hr-line">
    </div>
    <% @userprojects.each do |userproject| %>
        <div class="col-sm-3 m-b-10 p-l-30">
          <div class="ar-1-1">
            <!-- START WIDGET widget_imageWidgetBasic-->
            <div class="widget-2 panel no-border bg-info widget widget-loader-circle-lg no-margin">
              <div class="panel-heading">
                <div class="panel-controls pull-left">
                  <%= link_to user_project_path(current_user.id, userproject.id) do %>
                      <h3 class="text-white ">
                        <%= userproject.title %></h3>
                  <% end %>
                  <% if Date.today().to_date - userproject.created_at.to_date <= 1  %>
                      <span class="label label-warning font-montserrat fs-11">NEWS</span>
                  <% end %>
                </div>
              </div>
              <div class="panel-body">
                <div class="panel-controls pull-bottom bottom-left bottom-right">
                  <!-- START PANEL -->
                  <div class="panel panel-transparent">
                    <div class="panel-heading">
                      <div class="tools">
                        <a class="collapse" href="javascript:;"></a>
                        <a class="config" data-toggle="modal" href="#grid-config"></a>
                        <a class="reload" href="javascript:;"></a>
                        <a class="remove" href="javascript:;"></a>
                      </div>
                    </div>
                    <div class="panel-body">
                      <div class="table-responsive">
                        <table class="table table-hover table-condensed" id="condensedTable">
                          <tbody>

                          <% @projectevents[userproject.id].each do |event| %>
                              <tr>
                                <td class="v-align-middle semi-bold" colspan="3"><%= event.title %></td>

                                <td class="v-align-middle semi-bold" colspan="2"><%= event.updated_at.to_date %></td>
                              </tr>
                          <% end %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <!-- END PANEL -->
                </div>
              </div>
            </div>
            <!-- END WIDGET -->
          </div>
        </div>

    <% end %>

  </div>

  <!-- My Group ROW -->
  <div class="row" style = "margin-top:70px">
    <div class="alert" role="alert">
      <h4 class="alert-heading p-l-30" >내가 가입한 그룹방 <span class="semi-bold"> <a href="#" class="p-l-10" style="color: #51646b;font-size: small;">모두보기</a> </span> </h4>
      <hr class="hr-line">
    </div>

    <div class="gallery no-margin">
      <% @usergroups.each do |usergroup| %>

          <div class="gallery-item " data-width="1" data-height="1" href="user_group_path(current_user.id, usergroup.id)">
            <%= link_to user_group_path(current_user.id, usergroup.id) do %>
                <img src="<%= usergroup.groupProfile.url %>" class="image-responsive-height" alt="Image Not Found">
                <!-- START PREVIEW -->
                <!-- END PREVIEW -->
                <!-- START ITEM OVERLAY DESCRIPTION -->
                <div class="overlayer bottom-left full-width">
                  <div class="overlayer-wrapper">
                    <div class="gradient-grey p-l-20 p-r-20 p-b-5">
                      <div class="">
                        <div class="clearfix"></div>
                      </div>
                      <%= usergroup.title %>
                      <div class="pull-right m-t-10">
                        <span class="label label-danger font-montserrat fs-11"><%= usergroup.cnt %></span>
                      </div>
                      <div class="m-t-10">

                        <div class="inline m-l-10">
                          <p class="no-margin text-white fs-12"><%= usergroup.description %></p>
                        </div>
                        <div class="pull-right m-t-10">

                          <% if Date.today().to_date - usergroup.created_at.to_date <= 1  %>
                              <span class="label label-warning font-montserrat fs-11">NEWS</span>
                          <% end %>
                        </div>

                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END PRODUCT OVERLAY DESCRIPTION -->
                </div>
            <% end %>
      <% end %>
    </div>

  </div>

  <!-- Categories -->
  <% @categories.each do |category| %>
      <!-- Category 1 Group ROW -->
      <div class="row" style = "margin-top:70px">
        <div class="alert" role="alert">
          <h4 class="alert-heading p-l-30" ><%= category.name %> <span class="semi-bold"> <a href="#" class="p-l-10" style="color: #51646b;font-size: small;">모두보기</a> </span> </h4>
          <hr class="hr-line">
        </div>
        <div class="gallery no-margin">
          <% @categorygroups[category.id].each do |categorygroup| %>

              <div class="gallery-item " data-width="1" data-height="1" href="user_group_path(current_user.id, usergroup.id)">
                <%= link_to user_group_path(current_user.id, categorygroup.id) do %>
                    <img src="<%= categorygroup.groupProfile.url %>" class="image-responsive-height" alt="Image Not Found">
                    <!-- START PREVIEW -->
                    <!-- END PREVIEW -->
                    <!-- START ITEM OVERLAY DESCRIPTION -->
                    <div class="overlayer bottom-left full-width">
                      <div class="overlayer-wrapper">
                        <div class="gradient-grey p-l-20 p-r-20 p-b-5">
                          <div class="">
                            <div class="clearfix"></div>
                          </div>
                          <%= categorygroup.title %>
                          <div class="pull-right m-t-10">
                            <span class="label label-danger font-montserrat fs-11"><%= categorygroup.cnt %></span>
                          </div>
                          <div class="m-t-10">

                            <div class="inline m-l-10">
                              <p class="no-margin text-white fs-12"><%= categorygroup.description %></p>
                            </div>
                            <div class="pull-right m-t-10">

                              <% if Date.today().to_date - categorygroup.created_at.to_date <= 1  %>
                                  <span class="label label-warning font-montserrat fs-11">NEWS</span>
                              <% end %>
                            </div>

                            <div class="clearfix"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END PRODUCT OVERLAY DESCRIPTION -->
                    </div>
                <% end %>
          <% end %>
        </div>

      </div>
  <% end %>

</div>

<style>
  .alert {
    background-color: ghostwhite;
    border-color: grey;
    margin-bottom: 10px;
  }
  .hr-line {
    border-color: #ce8f22;
  }
</style>