<div style="width: 600px;margin: 0 auto;display: table;height: 100%;">
  <div style="display: table-cell;vertical-align: middle; ">
    <%= form_with(url: projects_path, local: true) do |form| %>
        <% if project.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

              <ul>
                <% project.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <h5 style="text-align: center;">Project의 타이틀을 정하고 다음으로 넘어가 함께 할 팀원을 초대해보세요.</h5>
        <div class="row">
          <div class="col-md-9">
            <%= form.text_field :title, id: :project_title, :class => 'form-control input-lg', :placeholder => 'Please enter a title.' %>
          </div>
          <div class="col-md-2">
            <%= form.submit 'Sign up', :class => 'btn btn-primary btn-lg btn-large fs-15' %>
          </div>
        </div>
    <% end %>
  </div>
</div>