<div class="fixed-navbar">
  <ul class="nav nav-tabs">
    <label class="navbar-brand" style="border-right: 1px ridge;"> <%= @project.title %> </label>

    <li class="active">
      <a data-toggle="tab" href="#fade1" aria-expanded="true"><span>Progress</span></a>
    </li>
    <li class="">
      <a data-toggle="tab" href="#fade2" aria-expanded="false"><span>Calendar</span></a>
    </li>
    <li class="">
      <a data-toggle="tab" href="#fade3" aria-expanded="false"><span>Chat</span></a>
    </li>
    <li class="">
      <a data-toggle="tab" href="#fade4" aria-expanded="false"><span>Invite</span></a>
    </li>
    <% @userprojects.each do |user| %>
        <% if user.user_id == current_user.id && user.project_id == @project.id %>
            <% if user.admin_user == true %>
                <li class="">
                  <a data-toggle="tab" href="#fade5" aria-expanded="false"><span>Setting</span></a>
                </li>
            <% end %>
        <% end %>
    <% end %>
  </ul>
</div>

<div class="panel panel-transparent full-height p-t-50">
  <!-- Nav tabs -->
  <!-- Tab panes -->
  <div class="tab-content full-height" style="overflow:auto;padding:0px;">
    <div class="tab-pane fade active in" id="fade1">
      <div class="row">
        <div class="container-fluid sm-p-l-5 bg-master-lighter ">
          <div class="timeline-container top-circle" style="min-height: 840px;">
            <section class="timeline">
              <% @team_events.each do |events|  %>
                  <input type="hidden" class="add-user-event-username" value="<%= current_user.name %>">
                  <input type="hidden" class="add-user-event-userprofile" value="<%= current_user.userProfile.thumb.url %>">

                  <div class="timeline-block" id="timeline-block<%= events.id %>">
                    <!-- 유저가 모두 완료안했고 시간이 지났으면 빨간색 -->
                    <!-- 유저가 모두 완료안했고 시간이 다 되어 갈 때 주황색 -->
                    <!-- 유저가 모두 완료했고 시간이 지났으면 초록색 -->
                    <% @event_users = TeamEventsUser.where(team_event: events) %>
                    <% check_time_complete = true %>
                    <% complete_true_users = 0 %>
                    <% @event_users.each do |check_time| %>
                        <% complete_true_users = complete_true_users + 1 %>
                        <% if check_time.complete == false %>
                            <% check_time_complete = false %>
                        <% end %>
                    <% end %>
                    <% if Time.now > events.end_date && (Time.now - (2 * ( 60 * 60 * 24))) < events.end_date && check_time_complete == false %>
                        <div class="timeline-point" id="timeline-point<%= events.id %>" style="background-color: orange;"></div>
                    <% elsif Time.now > events.end_date && check_time_complete == false %>
                        <div class="timeline-point" id="timeline-point<%= events.id %>" style="background-color: red;"></div>
                    <% elsif check_time_complete == true %>
                        <div class="timeline-point" id="timeline-point<%= events.id %>" style="background-color: lawngreen;"></div>
                    <% else %>
                        <div class="timeline-point" id="timeline-point<%= events.id %>" style="background-color: floralwhite;"></div>
                    <% end %>
                    <!-- timeline-point -->
                    <div class="timeline-content">
                      <div class="card share full-width" id="card-share<%= events.id %>">

                        <% @event_check = false %>
                        <% @check_user_event.each do |user_event| %>
                            <% if user_event.team_event_id == events.id %>
                                <% @event_check = true %>
                            <% end %>
                        <% end %>
                        <% if @event_check == false %>
                            <div class="circle event-user-add" id="event-user-add<%= events.id %>" value="<%= events.id %>" style="border: 1px solid #ffffff; background: rgba(255, 255, 255, 0);">
                              <i class="fa fa-plus" id="plus<%= events.id %>" data-toggle="tooltip" data-container="body" data-original-title="내 이벤트로 추가하기"></i>
                            </div>
                        <% else %>
                            <% @check_user_event_complete = TeamEventsUser.where(user: current_user, team_event: events) %>
                            <% @check_user_event_complete.each do |check_event| %>
                                <% if check_event.complete == false %>
                                    <div class="circle event-user-notcomplete" id="event-user-notcomplete<%= events.id %>" value="<%= events.id %>" style="border: 0px solid #ffffff; background: rgba(255, 255, 255, 0);">
                                      <i class="fa fa-circle-thin" id="circle<%= events.id %>" data-toggle="tooltip" data-container="body" data-original-title="이벤트 완료하기"></i>
                                      <input type="hidden" id="user-size" value="<%= @event_users.size %>">
                                      <input type="hidden" id="complete-user-size" value="<%= complete_true_users %>">
                                    </div>
                                <% else %>
                                    <div class="circle event-user-complete" id="event-user-complete<%= events.id %>" value="<%= events.id %>" style="border: 1px solid #ffffff; background: rgba(255, 255, 255, 0);">
                                      <i class="fa fa-check" id="check<%= events.id %>"></i>
                                    </div>
                                <% end %>
                            <% end %>
                        <% end %>
                        <div class="card-header clearfix">
                          <h5><%= events.title %></h5>
                          <div>
                            <div class="p-t-15 p-r-10" style="float: left;">
                              <h6> Users : </h6>
                            </div>
                            <div class="add-event-user-pic<%= events.id %>">
                              <% @event_users = TeamEventsUser.where(team_event: events) %>
                              <% @event_users.each do |users| %>
                                  <% @users.each do |user| %>
                                      <% if user.id == users.user_id %>
                                          <div style="float: left;padding-left: 5px;" data-toggle="tooltip" data-container="body" data-original-title="<%= user.name %>">
                                            <span class="thumbnail-wrapper d32 circular inline m-t-5"><%= image_tag(user.userProfile.thumb.url) %></span>
                                          </div>
                                      <% end %>
                                  <% end %>
                              <% end %>
                            </div>
                          </div>
                        </div>
                        <% if events.teamEventImage? %>
                            <div class="user-pic">
                              <img src="<%= events.teamEventImage.url %>" class="image-responsive-width" >
                            </div>
                        <% end %>
                        <div class="card-description">
                          <p><%= events.content %> </p>
                        </div>

                        <% if events.teamEventFile? %>
                            <div>
                              <iframe class="clearfix" src = "http://www.group-by.com:3000/viewer/index#..<%= events.teamEventFile.url %>" style="width: 100%" height='389' allowfullscreen webkitallowfullscreen></iframe>
                            </div>
                        <% end %>
                        <ul class="list-inline text-right">
                          <li>
                            <button class="btn btn-tag-light btn-sm" data-toggle="modal" data-target="#eventModal<%= events.id %>">File Upload</button>
                          </li>
                        </ul>
                        <div class="modal fade stick-up" id="eventModal<%= events.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Upload</h4>
                              </div>
                              <div class="modal-body p-t-20">
                                <%= form_with(url: project_image_teamEvent_path(events.id), multipart: true, class: 'simform no-margin') do |form| %>
                                    <%= hidden_field_tag(:id, events.project_id) %>
                                    <%= hidden_field_tag(:event_id, events.id) %>
                                    <div class="form-group form-group-default">
                                      <%= form.label :image %>
                                      <%= form.file_field :teamEventImage,  :class => 'form-control' %>
                                    </div>
                                    <div class="form-group form-group-default">
                                      <%= form.label :file %>
                                      <%= form.file_field :teamEventFile,  :class => 'form-control'%>
                                      <p>(미리보기를 이용하려면 PDF 또는 ODF로 변환해주시기 바랍니다.)</p>
                                    </div>
                                    <div class="actions text-right">
                                      <%= form.submit 'Upload', :class => 'btn btn-light' %>
                                    </div>
                                <% end %>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                      <div class="event-date">
                        <h6 class="font-montserrat all-caps hint-text" style="margin: 0"><label class="semi-bold">START : </label> <%= events.start_date.strftime("%Y-%m-%d %I:%M %p") %> </h6>
                        <h6 class="font-montserrat all-caps hint-text" style="margin: 0"><label class="semi-bold">END : </label> <%= events.end_date.strftime("%Y-%m-%d %I:%M %p") %> </h6>
                      </div>
                    </div>
                    <!-- timeline-content -->
                  </div>
              <% end  %>
            </section>
            <!-- timeline -->
          </div>
          <!-- -->
        </div>
      </div>
    </div>
    <div class="tab-pane fade full-height" id="fade2" scroll=auto style="overflow-x:hidden">
      <div class="row full-height">
        <div class="p-t-20 p-b-10 p-r-20" style="text-align: right">
          <% @userprojects.each do |user| %>
              <% if user.user_id == current_user.id && user.project_id == @project.id %>
                  <% if user.admin_user == true %>
                      <%= link_to 'Edit', project_calendar_path(@project.id), :class => 'btn btn-lg', data: { turbolinks: false } %>
                  <% end %>
              <% end %>
          <% end %>
        </div>
        <div id="show_team_calendar_month" class="full-height"></div>
        <input type="hidden" id="project_id" value="<%= @project.id %>">

        <div class="quickview-wrapper show_team_calendar-event" id="show_team_calendar-event">
          <div class="view-port clearfix" id="eventFormController">
            <div class="view bg-white">
              <div class="scrollable">
                <div class="p-l-30 p-r-30 p-t-20">
                  <i class="fa fa-times" id="eventExit" aria-hidden="true" style="text-align: right;display: block;"></i>
                </div>
                <div class="p-t-60 p-l-20">
                  <p class="eventText" id="eventTitle" style="font-size: xx-large;"></p>
                </div>
                <div class="p-t-25">
                  <input id="teameventIndex" name="teameventIndex" type="hidden">
                  <div class="form-group-attached">
                    <div class="row clearfix">
                      <div class="form-group form-group-default">
                        <label>Content</label>
                        <p class="eventText" id="eventContent"></p>
                      </div>
                    </div>
                    <div class="form-group form-group-default">
                      <label>Start Time</label>
                      <p class="eventText" id="eventStart"></p>
                    </div>
                    <div class="form-group form-group-default">
                      <label>End Time</label>
                      <p class="eventText" id="eventEndTime"></p>
                    </div>
                    <div class="form-group form-group-default" id="eventImage">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade full-height" id="fade3" >
      <div class="row full-height">
        <!-- BEGIN Conversation View  !-->
        <div class="view chat-view bg-white clearfix full-height">
          <!-- BEGIN Header  !-->
          <!-- END Header  !-->
          <!-- BEGIN Conversation  !-->
          <div class="col-sm-12 full-height">
            <div class="chat-inner" id="my-conversation" scroll=auto style="overflow-x:hidden;height: 93.3333% !important;overflow: auto;background-color: rgba(240, 248, 255, 0.5);" >
              <div id="messages" data-project=<%=@project.id%> data-user=<%= current_user.id%> >

                <%= render partial: "message", collection: @project.messages %>
              </div>
            </div>
            <!-- BEGIN Conversation  !-->
            <!-- BEGIN Chat Input  !-->
            <div class="b-t b-grey bg-white clearfix p-l-10 p-r-10">
              <div class="row">
                <div class="col-xs-1 p-t-15">
                  <a class="link text-master"> <label class="semi-bold"> Chat </label> </a>
                </div>
                <div class="col-xs-8 no-padding ">
                  <form>
                    <input type="text" class="form-control chat-input" id="type_message" data-behavior="room_speaker" data-chat-input="" data-chat-conversation="#my-conversation" placeholder="Say something">
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- END Chat Input  !-->
        </div>
      </div>
      <!-- END Conversation View  !-->

    </div>
    <div class="tab-pane fade" id="fade4">
      <div class="row">
        <div class="container-fluid container-fixed-lg bg-white" style="min-height: 840px;">
          <!-- START PANEL -->
          <div class="panel panel-transparent">
            <div class="panel-heading">
              <div class="panel-title">All User</div>
            </div>
            <div class="panel-body">
              <div id="tableWithExportOptions_wrapper" class="dataTables_wrapper form-inline no-footer">
                <div class="table-responsive">
                  <table class="table table-striped dataTable no-footer" id="tableWithExportOptions" role="grid" aria-describedby="tableWithExportOptions_info">
                    <thead>
                    <tr role="row">
                      <th class="sorting_asc" tabindex="0" aria-controls="tableWithExportOptions" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">User Name</th>
                      <th class="sorting" tabindex="0" aria-controls="tableWithExportOptions" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Invite</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% @users.each do |user1| %>
                        <% if user1.id != current_user.id %>
                            <% @userprojects.each do |user2| %>
                                <% if user2.project_id == @project.id %>
                                    <% if user1.id != user2.user_id %>
                                        <tr class="gradeA odd" role="row">
                                          <td class="sorting_1"><%= user1.name %></td>
                                          <td><%= link_to 'Invite', user_project_inviteCreate_path(user1.id, @project.id), data: { turbolinks: false } %></td>
                                        </tr>
                                    <% end %>
                                <% end %>
                            <% end %>
                        <% end %>
                    <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- END PANEL -->
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="fade5">
      <div class="row">
        <div class="container-fluid container-fixed-lg bg-white" style="min-height: 100px;">
          <!-- START PANEL -->
          <div class="panel panel-transparent">
            <div class="panel-heading">
              <div class="panel-title">Project Setting</div>
            </div>
            <div class="panel-body" style="text-align: center">
              <input type="hidden" id="project-name" value="<%= @project.title %>">
              <button type="button" class="btn btn-danger btn-cons" data-toggle="modal" data-target="#deleteModal">
                Delete this Project
              </button>
            </div>
          </div>
          <!-- END PANEL -->
        </div>
        <div class="container-fluid container-fixed-lg bg-white" style="min-height: 740px;">

          <div class="modal fade fill-in" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="modalFillInLabel" aria-hidden="true">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <i class="fa fa-close"></i>
            </button>
            <div class="modal-dialog ">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="text-center p-b-5"><span class="semi-bold">정말로 프로젝트를 삭제하시겠습니까?</span></h5>
                  <p class="text-center hinted-text p-t-10">프로젝트 이름을 입력 후 ENTER 입력 시 삭제 버튼이 생성됩니다.</p>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-md-9">
                      <input type="text" placeholder="Your Project name here" class="form-control" id="project-delete" name="icon-filter">
                    </div>
                    <div class="col-md-3 text-center" id="project-delete-btn1">
                      <a class="btn btn-danger btn-cons" disabled="true">Delete this Project</a>
                    </div>
                    <div class="col-md-3 text-center" id="project-delete-btn2" hidden="hidden">
                      <%= link_to 'Delete this Project', project_path, method: :delete, :class => 'btn btn-danger btn-cons'%>
                    </div>
                  </div>
                  <p class="text-center hinted-text p-t-10">한 번 프로젝트를 삭제하면 되돌릴 수 없습니다.</p>
                </div>
                <div class="modal-footer">

                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>

          <!-- START PANEL -->
          <div class="panel panel-transparent">
            <div class="panel-heading">
              <div class="panel-title">Project User Setting</div>
            </div>
            <div class="panel-body">
              <div id="tableWithExportOptions_wrapper" class="dataTables_wrapper form-inline no-footer">
                <div class="table-responsive">
                  <table class="table table-striped dataTable no-footer" id="tableWithExportOptions" role="grid" aria-describedby="tableWithExportOptions_info">
                    <thead>
                    <tr role="row">
                      <th class="sorting_asc" tabindex="0" aria-controls="tableWithExportOptions" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">User Name</th>
                      <th class="sorting" tabindex="0" aria-controls="tableWithExportOptions" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% @users.each do |user1| %>
                        <% if user1.id != current_user.id %>
                            <% @userprojects.each do |user2| %>
                                <% if user2.project_id == @project.id %>
                                    <% if user1.id == user2.user_id %>
                                        <% if user2.admin_user == true %>
                                            <tr class="gradeA odd" role="row">
                                              <td class="sorting_1"><%= user1.name %></td>
                                              <td><%= link_to 'Make Admin', user_project_admin_user_add_path(user1.id, @project.id) %></td>
                                            </tr>
                                        <% else %>
                                            <tr class="gradeA odd" role="row">
                                              <td class="sorting_1"><%= user1.name %></td>
                                              <td><%= link_to 'Make User', user_project_admin_user_destroy_path(user1.id, @project.id) %></td>
                                            </tr>
                                        <% end %>
                                    <% end %>
                                <% end %>
                            <% end %>
                        <% end %>
                    <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- END PANEL -->
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  body {
    overflow: hidden;
  }
  .nav-tabs {
    border-bottom: none;
  }
  .fixed-navbar {
    position: fixed;
    z-index:100;
    height:50px;
    width:100%;
    top: 60px;
    left: 70px;
    border-bottom: 1px ridge;
    background-color: #fbfbfb;
  }
  .event-container{
    cursor: pointer;
  }
  .eventText {
    margin: 0;
    padding-top: 10px;
  }
  .holder {
    display: inline-block;
    overflow: auto;
    overflow-x: hidden;
  }
</style>