<div class="fixed-navbar">
  <ul class="nav nav-tabs">
    <label class="navbar-brand" style="border-right: 1px ridge;"> <%= @project.title %> </label>

    <li class="active">
      <a data-toggle="tab" href="#fade1" aria-expanded="true"><span>Progress</span></a>
    </li>
    <li class="">
      <a data-toggle="tab" href="#fade2" aria-expanded="false"><span>Calendar</span></a>
    </li>
    <li class="">
      <a data-toggle="tab" href="#fade3" aria-expanded="false"><span>Chat</span></a>
    </li>
    <li class="">
      <a data-toggle="tab" href="#fade4" aria-expanded="false"><span>Invite</span></a>
    </li>
    <% @userprojects.each do |user| %>
        <% if user.user_id == current_user.id && user.project_id == @project.id %>
            <% if user.admin_user == true %>
                <li class="">
                  <a data-toggle="tab" href="#fade5" aria-expanded="false"><span>Setting</span></a>
                </li>
            <% end %>
        <% end %>
    <% end %>
  </ul>
</div>

<div class="panel panel-transparent full-height p-t-50">
  <!-- Nav tabs -->
  <!-- Tab panes -->
  <div class="tab-content full-height" style="padding:0px;">
    <div class="tab-pane fade active in" id="fade1">
      <div class="row">
        <div class="container-fluid sm-p-l-5 bg-master-lighter ">
          <div class="timeline-container top-circle" style="min-height: 840px;">
            <section class="timeline">
              <% @team_events.each do |events|  %>
                  <div class="timeline-block">
                    <div class="timeline-point success">
                    </div>
                    <!-- timeline-point -->
                    <div class="timeline-content">
                      <div class="card share full-width">
                        <div class="circle" data-toggle="tooltip" title="Label" data-container="body">
                        </div>
                        <div class="card-header clearfix">
                          <h5><%= events.title %></h5>
                          <h6>Shared a Tweet
                            <span class="location semi-bold"><i class="fa fa-map-marker"></i> SF, California</span>
                          </h6>
                        </div>
                        <div class="card-description">
                          <p><%= events.content %> </p>
                        </div>
                      </div>
                      <div class="event-date">
                        <h6 class="font-montserrat all-caps hint-text m-t-0">Apple Inc</h6>
                        <small class="fs-12 hint-text"><%= events.start_date %> - <%= events.end_date %></small>
                      </div>
                    </div>
                    <!-- timeline-content -->
                  </div>
              <% end  %>
            </section>
            <!-- timeline -->
          </div>
          <!-- -->
        </div>
      </div>
    </div>
    <div class="tab-pane fade full-height" id="fade2" scroll=auto style="overflow-x:hidden">
      <div class="row full-height">
        <div class="p-t-20 p-b-10 p-r-20" style="text-align: right">
          <% @userprojects.each do |user| %>
              <% if user.user_id == current_user.id && user.project_id == @project.id %>
                  <% if user.admin_user == true %>
                      <%= link_to 'Edit', project_calendar_path(@project.id), :class => 'btn btn-lg' %>
                  <% end %>
              <% end %>
          <% end %>
        </div>
        <div id="show_team_calendar_month" class="full-height"></div>
        <input type="hidden" id="project_id" value="<%= @project.id %>">

        <div class="quickview-wrapper show_team_calendar-event" id="show_team_calendar-event">
          <div class="view-port clearfix" id="eventFormController">
            <div class="view bg-white">
              <div class="scrollable">
                <div class="p-l-30 p-r-30 p-t-20">
                  <i class="fa fa-times" id="eventExit" aria-hidden="true" style="text-align: right;display: block;"></i>
                </div>
                <div class="p-t-60 p-l-20">
                  <p class="eventText" id="eventTitle" style="font-size: xx-large;"></p>
                </div>
                <div class="p-t-25">
                  <input id="teameventIndex" name="teameventIndex" type="hidden">
                  <div class="form-group-attached">
                    <div class="row clearfix">
                      <div class="form-group form-group-default">
                        <label>Content</label>
                        <p class="eventText" id="eventContent"></p>
                      </div>
                    </div>
                    <div class="form-group form-group-default">
                      <label>Start Time</label>
                      <p class="eventText" id="eventStart"></p>
                    </div>
                    <div class="form-group form-group-default">
                      <label>End Time</label>
                      <p class="eventText" id="eventEndTime"></p>
                    </div>
                    <div class="form-group form-group-default" id="eventImage">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade full-height" id="fade3" >
      <div class="row full-height">
        <!-- BEGIN Conversation View  !-->
        <div class="view chat-view bg-white clearfix full-height" style="margin-left: 20px">
          <!-- BEGIN Header  !-->
          <!-- END Header  !-->
          <!-- BEGIN Conversation  !-->
          <div class="row full-height">
            <div class="col-sm-12 full-height">
              <div class="chat-inner ar-2" id="my-conversation" scroll=auto style="overflow-x:hidden;height: 93.3333% !important;overflow: auto;background-color: rgba(240, 248, 255, 0.5);" >
                <div id="messages" data-project=<%=@project.id%> data-user=<%= current_user.id%> >

                  <%= render partial: "message", collection: @project.messages %>
                </div>
              </div>
              <!-- BEGIN Conversation  !-->
              <!-- BEGIN Chat Input  !-->
              <div class="b-t b-grey bg-white clearfix p-l-10 p-r-10">
                <div class="row">
                  <div class="col-xs-1 p-t-15">
                    <a href="#" class="link text-master"> <label class="semi-bold"> Chat </label> </a>
                  </div>
                  <div class="col-xs-8 no-padding ">
                    <form>
                      <input type="text" class="form-control chat-input" id="type_message" data-behavior="room_speaker" data-chat-input="" data-chat-conversation="#my-conversation" placeholder="Say something">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END Chat Input  !-->
        </div>
      </div>
      <!-- END Conversation View  !-->

    </div>
    <div class="tab-pane fade" id="fade4">
      <div class="row">
        <div class="container-fluid container-fixed-lg bg-white" style="min-height: 840px;">
          <!-- START PANEL -->
          <div class="panel panel-transparent">
            <div class="panel-heading">
              <div class="panel-title">All User</div>
            </div>
            <div class="panel-body">
              <div id="tableWithExportOptions_wrapper" class="dataTables_wrapper form-inline no-footer">
                <div class="table-responsive">
                  <table class="table table-striped dataTable no-footer" id="tableWithExportOptions" role="grid" aria-describedby="tableWithExportOptions_info">
                    <thead>
                    <tr role="row">
                      <th class="sorting_asc" tabindex="0" aria-controls="tableWithExportOptions" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">User Name</th>
                      <th class="sorting" tabindex="0" aria-controls="tableWithExportOptions" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Invite</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% @users.each do |user1| %>
                        <% if user1.id != current_user.id %>
                            <% chk = true %>
                            <% @userprojects.each do |user2| %>
                                <% if user2.project_id == @project.id %>
                                    <% if user1.id == user2.user_id %>
                                        <% chk = false %>
                                        <% break %>
                                    <% end %>
                                <% end %>
                            <% end %>
                            <% if chk == true %>
                                <tr class="gradeA odd" role="row">
                                  <td class="sorting_1"><%= user1.name %></td>
                                  <td><%= link_to 'Invite', user_project_inviteCreate_path(user1.id, @project.id) %></td>
                                </tr>
                            <% end %>
                        <% end %>
                    <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- END PANEL -->
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="fade5">
      <div class="row">
        <div class="container-fluid container-fixed-lg bg-white" style="min-height: 840px;">
          <!-- START PANEL -->
          <div class="panel panel-transparent">
            <div class="panel-heading">
              <div class="panel-title">All User</div>
            </div>
            <div class="panel-body">
              <div id="tableWithExportOptions_wrapper" class="dataTables_wrapper form-inline no-footer">
                <div class="table-responsive">
                  <table class="table table-striped dataTable no-footer" id="tableWithExportOptions" role="grid" aria-describedby="tableWithExportOptions_info">
                    <thead>
                    <tr role="row">
                      <th class="sorting_asc" tabindex="0" aria-controls="tableWithExportOptions" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">User Name</th>
                      <th class="sorting" tabindex="0" aria-controls="tableWithExportOptions" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% @users.each do |user1| %>
                        <% if user1.id != current_user.id %>
                            <% chk = true %>
                            <% @userprojects.each do |user2| %>
                                <% if user2.project_id == @project.id %>
                                    <% if user1.id == user2.user_id %>
                                        <% if user2.admin_user == true %>
                                            <% chk = false %>
                                            <% break %>
                                        <% end %>
                                    <% end %>
                                <% end %>
                            <% end %>
                            <% if chk == true %>
                                <tr class="gradeA odd" role="row">
                                  <td class="sorting_1"><%= user1.name %></td>
                                  <td><%= link_to 'Make Admin', user_project_admin_user_add_path(user1.id, @project.id) %></td>
                                </tr>
                            <% else %>
                                <tr class="gradeA odd" role="row">
                                  <td class="sorting_1"><%= user1.name %></td>
                                  <td><%= link_to 'Make User', user_project_admin_user_destroy_path(user1.id, @project.id) %></td>
                                </tr>
                            <% end %>
                        <% end %>
                    <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- END PANEL -->
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  body {
    overflow: hidden;
  }
  .nav-tabs {
    border-bottom: none;
  }
  .fixed-navbar {
    position: fixed;
    z-index:100;
    height:50px;
    width:100%;
    top: 60px;
    left: 70px;
    border-bottom: 1px ridge;
    background-color: #fbfbfb;
  }
  .event-container{
    cursor: pointer;
  }
  .eventText {
    margin: 0;
    padding-top: 10px;
  }
   .holder {
     display: inline-block;
     overflow: auto;
   }
</style>
