<div class="login-wrapper ">
  <!-- START Login Background Pic Wrapper-->
  <div class="bg-pic">
    <!-- START Background Pic-->
    <%= image_tag('demo/new-york-city-buildings-sunrise-morning-hd-wallpaper.jpg')%>
    <!-- END Background Pic-->
    <!-- START Background Caption-->
    <div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
      <h2 class="semi-bold text-white">
        Pages make it easy to enjoy what matters the most in the life</h2>
      <p class="small">
        images Displayed are solely for representation purposes only, All work copyright of respective owner, otherwise © 2013-2014 REVOX.
      </p>
    </div>
    <!-- END Background Caption-->
  </div>
  <!-- END Login Background Pic Wrapper-->
  <!-- START Login Right Container-->
  <div class="login-container bg-white">
    <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
      <%= image_tag('groupby_logo_2x.png') %>
      <p class="p-t-15">Sign into your pages account</p>
      <!-- START Login Form -->
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <div class="form-group form-group-default">
            <%= f.label :email %>
            <div class="control">
              <%= f.email_field :email, class: "form-control", autofocus: true , placeholder: "User name" %>
            </div>
          </div>

          <div class="form-group form-group-default">
            <%= f.label :password %>
            <%= f.password_field :password, class: "form-control" ,autocomplete: "off", placeholder: "Password" %>
          </div>

          <div class="row">
            <div class="col-md-6 no-padding">
              <% if devise_mapping.rememberable? -%>
                  <div class="checkbox ">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                  </div>
              <% end -%>
            </div>
            <div class="col-md-6 text-right">
              <%= render "devise/shared/links" %>
            </div>
          </div>

          <%= f.submit "Log in", class: "btn btn-primary btn-cons m-t-10" %>
      <% end %>

      <div class="pull-bottom sm-pull-bottom">
        <div class="m-b-30 p-r-80 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">
          <div class="col-sm-3 col-md-2 no-padding">
            <%= image_tag('groupby_logo.png') %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END Login Right Container-->
</div>
<!DOCTYPE html>
<html>
<head>
</head>
<body class="fixed-header ">
<!-- START OVERLAY -->
<div class="overlay hide" data-pages="search">
  <!-- BEGIN Overlay Content !-->
  <div class="overlay-content has-results m-t-20">
    <!-- BEGIN Overlay Header !-->
    <div class="container-fluid">
      <!-- BEGIN Overlay Logo !-->
      <%= image_tag('logo.png') %>
      <!-- END Overlay Logo !-->
      <!-- BEGIN Overlay Close !-->
      <a href="#" class="close-icon-light overlay-close text-black fs-16">
        <i class="pg-close"></i>
      </a>
      <!-- END Overlay Close !-->
    </div>
    <!-- END Overlay Header !-->
    <div class="container-fluid">
      <!-- BEGIN Overlay Controls !-->
      <input id="overlay-search" class="no-border overlay-search bg-transparent" placeholder="Search..." autocomplete="off" spellcheck="false">
      <br>
      <div class="inline-block">
        <div class="checkbox right">
          <input id="checkboxn" type="checkbox" value="1" checked="checked">
          <label for="checkboxn"><i class="fa fa-search"></i> Search within page</label>
        </div>
      </div>
      <div class="inline-block m-l-10">
        <p class="fs-13">Press enter to search</p>
      </div>
      <!-- END Overlay Controls !-->
    </div>
    <!-- BEGIN Overlay Search Results, This part is for demo purpose, you can add anything you like !-->
    <div class="container-fluid">
          <span>
                <strong>suggestions :</strong>
            </span>
      <span id="overlay-suggestions"></span>
      <br>
      <div class="search-results m-t-40">
        <p class="bold">Pages Search Results</p>
        <div class="row">
          <div class="col-md-6">
            <!-- BEGIN Search Result Item !-->
            <div class="">
              <!-- BEGIN Search Result Item Thumbnail !-->
              <div class="thumbnail-wrapper d48 circular bg-success text-white inline m-t-10">
                <div>
                  <%= image_tag('profiles/avatar.jpg') %>
                </div>
              </div>
              <!-- END Search Result Item Thumbnail !-->
              <div class="p-l-10 inline p-t-5">
                <h5 class="m-b-5"><span class="semi-bold result-name">ice cream</span> on pages</h5>
                <p class="hint-text">via john smith</p>
              </div>
            </div>
            <!-- END Search Result Item !-->
            <!-- BEGIN Search Result Item !-->
            <div class="">
              <!-- BEGIN Search Result Item Thumbnail !-->
              <div class="thumbnail-wrapper d48 circular bg-success text-white inline m-t-10">
                <div>T</div>
              </div>
              <!-- END Search Result Item Thumbnail !-->
              <div class="p-l-10 inline p-t-5">
                <h5 class="m-b-5"><span class="semi-bold result-name">ice cream</span> related topics</h5>
                <p class="hint-text">via pages</p>
              </div>
            </div>
            <!-- END Search Result Item !-->
            <!-- BEGIN Search Result Item !-->
            <div class="">
              <!-- BEGIN Search Result Item Thumbnail !-->
              <div class="thumbnail-wrapper d48 circular bg-success text-white inline m-t-10">
                <div><i class="fa fa-headphones large-text "></i>
                </div>
              </div>
              <!-- END Search Result Item Thumbnail !-->
              <div class="p-l-10 inline p-t-5">
                <h5 class="m-b-5"><span class="semi-bold result-name">ice cream</span> music</h5>
                <p class="hint-text">via pagesmix</p>
              </div>
            </div>
            <!-- END Search Result Item !-->
          </div>
          <div class="col-md-6">
            <!-- BEGIN Search Result Item !-->
            <div class="">
              <!-- BEGIN Search Result Item Thumbnail !-->
              <div class="thumbnail-wrapper d48 circular bg-info text-white inline m-t-10">
                <div><i class="fa fa-facebook large-text "></i>
                </div>
              </div>
              <!-- END Search Result Item Thumbnail !-->
              <div class="p-l-10 inline p-t-5">
                <h5 class="m-b-5"><span class="semi-bold result-name">ice cream</span> on facebook</h5>
                <p class="hint-text">via facebook</p>
              </div>
            </div>
            <!-- END Search Result Item !-->
            <!-- BEGIN Search Result Item !-->
            <div class="">
              <!-- BEGIN Search Result Item Thumbnail !-->
              <div class="thumbnail-wrapper d48 circular bg-complete text-white inline m-t-10">
                <div><i class="fa fa-twitter large-text "></i>
                </div>
              </div>
              <!-- END Search Result Item Thumbnail !-->
              <div class="p-l-10 inline p-t-5">
                <h5 class="m-b-5">Tweats on<span class="semi-bold result-name"> ice cream</span></h5>
                <p class="hint-text">via twitter</p>
              </div>
            </div>
            <!-- END Search Result Item !-->
            <!-- BEGIN Search Result Item !-->
            <div class="">
              <!-- BEGIN Search Result Item Thumbnail !-->
              <div class="thumbnail-wrapper d48 circular text-white bg-danger inline m-t-10">
                <div><i class="fa fa-google-plus large-text "></i>
                </div>
              </div>
              <!-- END Search Result Item Thumbnail !-->
              <div class="p-l-10 inline p-t-5">
                <h5 class="m-b-5">Circles on<span class="semi-bold result-name"> ice cream</span></h5>
                <p class="hint-text">via google plus</p>
              </div>
            </div>
            <!-- END Search Result Item !-->
          </div>
        </div>
      </div>
    </div>
    <!-- END Overlay Search Results !-->
  </div>
  <!-- END Overlay Content !-->
</div>
<!-- END OVERLAY -->
<!-- BEGIN VENDOR JS -->


