<!-- START APP -->
<!-- START SECONDARY SIDEBAR MENU-->
<nav class="secondary-sidebar padding-30">
  <p class="menu-title">BROWSE</p>
  <ul class="main-menu">
    <li class="active">
      <i class="pg-inbox"></i>
      <%= link_to ' All Mail',userpop3_usermails_path(1), :class => 'title', data: { turbolinks: false } %>
    </li>
  </ul>
  <ul class="sub-menu no-padding">
    <% @userpop.each do |pop| %>
        <li>
          <div>
            <a class="pg_folder"></a>
            <%= link_to pop.title, userpop3_usermail_path(pop.id, 1), :style => 'color: #89929a;', data: { turbolinks: false } %>
          </div>
        </li>
    <% end %>
  </ul>
  <div class="menu-title" id="popBtn" data-toggle="modal" data-target="#popModal">
    POP Setting
  </div>
</nav>
<!-- END SECONDARY SIDEBAR MENU -->
<div class="inner-content full-height">
  <!--popModal-->
  <div class="modal fade stick-up" id="popModal" tabindex="-1" role="dialog" aria-labelledby="popModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="popModalLabel">POP3 SETTING</h4>
        </div>
        <form action="/userpop3/setpop/<%= current_user.id %>" method="get">
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group form-group-default">
                  <label class="modal-label">title</label>
                  <input name="title" id="title" class="form-control">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group form-group-default">
                  <label class="modal-label">email</label>
                  <input name="email" id="email" class="form-control">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group form-group-default">
                  <label class="modal-label">password</label>
                  <input name="password" id="password" class="form-control">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group form-group-default">
                  <label class="modal-label">port</label>
                  <input name="port" id="port" class="form-control">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group form-group-default">
                  <label class="modal-label">pop3</label>
                  <input name="pop3" id="pop3" class="form-control">
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>

        </form>
      </div>
    </div>
  </div>

  <div class="split-view">
    <!-- START SPLIT LIST VIEW -->
    <div class="split-list">
      <div data-email="list" class="list-view">
        <!-- START EMAIL LIST SORTED BY DATE -->
        <!-- END EMAIL LIST SORTED BY DATE -->
        <div class="list-view-wrapper" data-ios="false">
          <div class="list-view-group-container">
            <div class="list-view-group-header">
              <span>EMAIL LIST</span>
            </div>
            <ul class="no-padding">
              <% @usermails.each do |m| %>
                  <li class="email-view item padding-15 " id='<%= m.id %> /@@/ <%= m.from %> /@@/ <%= m.to %> /@@/ <%= m.content %> /@@/ <%= m.subject %> /@@/ <%= m.date %>'>

                    From : <%= m.from %>
                    <br/>
                    TITLE : <%= m.subject %>
                    <br/>
                    DATE : <%= m.date %>
                  </li>
              <% end %>

            </ul>
          </div>
        </div>
        <!-- END SPLIT LIST VIEW -->
      </div>
    </div>
    <!-- START SPLIT DETAILS -->
    <div data-email="opened" class="split-details">
      <div class="no-result">
        <h1>No email has been selected</h1>
      </div>
      <div class="email-content-wrapper" style="display:none">
        <div class="email-content">
          <div class="email-content-header">
            <div class="sender inline m-l-10">
              <p class="name no-margin bold">
              </p>
              <p class="datetime no-margin"></p>
            </div>
            <div class="clearfix"></div>
            <div class="subject m-t-20 m-b-20 semi-bold">
            </div>
            <div class="fromto">
              <div class="pull-left">
                <label class="inline">
                  <span class="muted">&nbsp;&nbsp;to</span>
                  <span class=" small-text" id="to"></span>
                </label>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="email-content-body m-t-20">
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- END SPLIT DETAILS -->
  <!-- START COMPOSE BUTTON FOR TABS -->
  <div class="compose-wrapper visible-xs">
  </div>
  <!-- END COMPOSE BUTTON -->
</div>

<style>
  .email-content-body {
    position: sticky;
  }
  .secondary-sidebar .menu-title {
    color: rgb(0, 216, 255);
  }
  .modal-label {
    text-align: center;
  }
  .form-control {
    text-align: center;
  }
  .split-view .split-list .item .datetime {
    right: 10px;
    top: 80%;
  }
  .email-view{
  ;
  }

</style>
