<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <meta charset="utf-8"/>
  <title>Group by.</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <link rel="apple-touch-icon" href="<%= image_path('ico/60.png') %>">
  <link rel="apple-touch-icon" sizes="76x76" href="<%= image_path('ico/76.png') %>">
  <link rel="apple-touch-icon" sizes="120x120" href="<%= image_path('ico/120.png') %>">
  <link rel="apple-touch-icon" sizes="152x152" href="<%= image_path('ico/152.png') %>">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta content="" name="description"/>
  <meta content="" name="author"/>

  <%= stylesheet_link_tag 'application', media: 'all' %>

  <!--[if lte IE 9]>
  <link href="/pages/css/ie9.css?v=pages-v1.0.0" rel="stylesheet" type="text/css"/>
  <![endif]-->

  <script type="text/javascript">
      window.onload = function () {
          // fix for windows 8
          if (navigator.appVersion.indexOf("Windows NT 6.2") != -1)
              document.head.innerHTML += '<link rel="stylesheet" type="text/css" href="/pages/css/windows.chrome.fix.css?v=pages-v1.0.0" />'

          $(".delete_push").on('click', function () {

              $(this).parent().parent().parent().fadeOut();
          });
      }

      var delete_push = function (id) {
          $.ajax({
              url: 'delete_push/'+id,
              success: function(count){
                  if(count == 0){
                      $('.bubble').removeClass('bubble');
                  }
              }
          });
      }
  </script>


  <%= csrf_meta_tags %>

  <%= yield :head %>
</head>

<body class="fixed-header ">
<!-- BEGIN SIDEBAR -->
<nav class="page-sidebar" data-pages="sidebar" style="z-index:1001">
  <div id="appMenu" class="sidebar-overlay-slide from-top">
  </div>
  <!-- BEGIN SIDEBAR HEADER -->
  <div class="sidebar-header">
    <%= image_tag('groupby_logo_white.png') %>
    <div class="sidebar-header-controls">
      <button data-pages-toggle="#appMenu" class="btn btn-xs sidebar-slide-toggle btn-link m-l-20" type="button">
        <i class="fa fa-angle-down fs-16"></i>
      </button>
      <button data-toggle-pin="sidebar" class="btn btn-link visible-lg-inline" type="button"><i class="fa fs-12"></i>
      </button>
    </div>
  </div>
  <!-- END SIDEBAR HEADER -->
  <!-- BEGIN SIDEBAR MENU -->
  <div class="sidebar-menu">
    <ul class="menu-items">
      <li class="m-t-30">
        <a href="javascript:;">
          <span class="title">GROUP</span>
          <span class=" arrow"></span>
        </a>
        <span class="icon-thumbnail "><i class="fa fa-users"></i></span>
        <ul class="sub-menu">
          <li class="">
            <%= link_to '모든 그룹', user_all_path(current_user.id) %>
            <span class="icon-thumbnail"><i class="fa fa-globe"></i></span>
          </li>
          <li class="">
            <%= link_to '내가 가입한 그룹', user_groups_path(current_user.id), :class => 'title' %>
            <span class="icon-thumbnail"><i class="fa fa-user"></i></span>
          </li>
        </ul>
      </li>
      <li class="m-t-15">
        <a href="javascript:;">
          <span class="title">PROJECT</span>
          <span class=" arrow"></span>
        </a>
        <span class="icon-thumbnail"><i class="fa fa-tablet" aria-hidden="true"></i></span>
        <ul class="sub-menu">
          <li>
            <%= link_to '프로젝트 만들기', new_user_project_path(current_user.id) %>
            <span class="icon-thumbnail"><i class="fa fa-file-text" aria-hidden="true"></i></span>
          </li>
          <li>
            <%= link_to '프로젝트', user_projects_path(current_user.id) %>
            <span class="icon-thumbnail "><i class="fa fa-handshake-o"></i></span>
          </li>
          <li class="">
            <%= link_to '나에게 온 초대', user_inviteShow_path(current_user.id) %>
            <span class="icon-thumbnail"><i class="fa fa-user-plus"></i></span>
          </li>
        </ul>
      </li>
      <li class="m-t-15">
        <a id="change_month" href="/home/calendar_month">CALENDAR</a>
        <span class="icon-thumbnail ">
          <i class="fa fa-calendar"></i>
        </span>
      </li>
      <li class="m-t-15">
        <%= link_to 'EMAIL', userpop3_usermails_path(1), :class => 'title' %>
        <span class="icon-thumbnail ">
          <i class="fa fa-envelope-o"></i>
        </span>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
  <!-- END SIDEBAR MENU -->
</nav>
<!-- END SIDEBAR -->
<!-- START PAGE-CONTAINER -->
<div class="page-container">
  <!-- START PAGE HEADER WRAPPER -->
  <!-- START HEADER -->
  <div class="header ">
    <!-- START MOBILE CONTROLS -->
    <!-- LEFT SIDE -->
    <div class="container-fluid relative">
      <!-- LEFT SIDE -->
      <div class="pull-left visible-sm visible-xs">
        <!-- START ACTION BAR -->
        <div class="header-inner">
          <a href="#" class="btn-link toggle-sidebar visible-sm-inline-block visible-xs-inline-block padding-5" data-toggle="sidebar">
            <span class="fa fa-bars"></span>
          </a>
        </div>
        <!-- END ACTION BAR -->
      </div>
      <div class="pull-center hidden-md hidden-lg">
        <div class="header-inner">
          <div class="brand inline">
            <%= image_tag('groupby_logo_2x.png') %>
          </div>
        </div>
      </div>
      <!-- RIGHT SIDE -->

    </div>

    <!-- END MOBILE CONTROLS -->
    <div class=" pull-left sm-table hidden-xs hidden-sm">
      <div class="header-inner">
        <div class="brand inline">
          <%= link_to authenticated_root_path do %>
              <%= image_tag('groupby_logo_2x.png', :style => "padding-left: 30px") %>
          <% end %>
        </div>
        <!-- BEGIN NOTIFICATION DROPDOWN -->
        <ul class="notification-list no-margin hidden-sm hidden-xs b-grey b-l b-r no-style p-l-30 p-r-20">
          <li class="p-r-15 inline">
            <div class="dropdown">
              <a href="javascript:;" id="notification-center" class="fa fa-globe" data-toggle="dropdown">
                <% if current_user.pushs.count != 0 %>
                    <span class="bubble"></span>
                <% end %>
              </a>
              <div class="dropdown-menu notification-toggle" role="menu" aria-labelledby="notification-center">
                <div class="notification-panel">
                  <!-- START Notification Body-->

                  <div id="pushs">
                    <%= render partial: "layouts/push", collection: current_user.pushs %>
                  </div>

                  <!-- END Notification Body-->
                  <!-- START Notification Footer-->
                  <div class="notification-footer text-center">
                    <a href="#" class="">Read all notifications</a>
                    <a data-toggle="refresh" class="portlet-refresh text-black pull-right" href="#">
                      <i class="pg-refresh_new"></i>
                    </a>
                  </div>
                  <!-- END Notification Footer-->
                </div>
              </div>
            </div>
          </li>
        </ul>
        <!-- END NOTIFICATION DROPDOWN -->
        <a href="#" class="search-link" data-toggle="search">
          <i class="fa fa-search"></i>
          Type anywhere to<span class="bold"> search</span>
        </a>
      </div>
    </div>
    <div class=" pull-right">
      <!-- START User Info-->
      <div class="visible-lg visible-md m-t-10">
        <div class="pull-left p-r-10 p-t-10 fs-16 font-heading">
          <span class="semi-bold"><%= current_user.email %></span>
        </div>
        <div class="dropdown pull-right">
          <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="thumbnail-wrapper d32 circular inline m-t-5">
                          <%= image_tag('profiles/avatar.jpg') %>
            </span>
          </button>
          <ul class="dropdown-menu profile-dropdown" role="menu">
            <li><a href="/users/edit"><i class="pg-settings_small"></i> Settings</a>
            </li>
            <li><a href="#"><i class="pg-outdent"></i> Feedback</a>
            </li>
            <li><a href="#"><i class="pg-signals"></i> Help</a>
            </li>
            <li class="bg-master-lighter">
              <a href="/users/sign_out" class="clearfix">
                <span class="pull-left">Logout</span>
                <span class="pull-right"><i class="pg-power"></i></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- END User Info-->
    </div>
  </div>
  <!-- END HEADER -->
  <!-- END PAGE HEADER WRAPPER -->
  <!-- START PAGE CONTENT WRAPPER -->
  <div class="page-content-wrapper full-height">
    <!-- START PAGE CONTENT -->
    <div class="content full-height">
      <%= yield %>
    </div>
    <!-- END PAGE CONTENT -->
  </div>
  <!-- END PAGE CONTENT WRAPPER -->
</div>
<!-- START OVERLAY -->
<div class="overlay" style="display: none" data-pages="search">
  <!-- BEGIN Overlay Content !-->
  <div class="overlay-content has-results m-t-20">
    <!-- BEGIN Overlay Header !-->
    <div class="container-fluid">
      <!-- BEGIN Overlay Logo !-->
      <%= image_tag('groupby_logo_2x.png') %>
      <!-- END Overlay Logo !-->
      <!-- BEGIN Overlay Close !-->
      <a href="#" class="close-icon-light overlay-close text-black fs-16">
        <i class="fa fa-times"></i>
      </a>
      <!-- END Overlay Close !-->
    </div>
    <!-- END Overlay Header !-->
    <div class="container-fluid">
      <!-- BEGIN Overlay Controls !-->
      <input id="overlay-search" class="no-border overlay-search bg-transparent" placeholder="Search..." autocomplete="off" spellcheck="false">
      <br>
      <div class="inline-block">
        <div class="checkbox right">
          <input id="checkboxn" type="checkbox" value="1" checked="checked">
          <label for="checkboxn"><i class="fa fa-search"></i> Search within page</label>
        </div>
      </div>
      <div class="inline-block m-l-10">
        <p class="fs-13">Press enter to search</p>
      </div>
      <!-- END Overlay Controls !-->
    </div>
    <!-- BEGIN Overlay Search Results, This part is for demo purpose, you can add anything you like !-->
    <div class="container-fluid">
          <span>
                <strong>suggestions :</strong>
            </span>
      <span id="overlay-suggestions"></span>
      <br>
      <div class="m-t-40">
        <p class="bold">Pages Search Results</p>
        <div class="row">
          <div class="col-md-4" id="search-results-users" >
          </div>
          <div class="col-md-4" id="search-results-mygroups">
          </div>
          <div class="col-md-4" id="search-results-groups">
          </div>
        </div>
      </div>
    </div>
    <!-- END Overlay Search Results !-->
  </div>
  <!-- END Overlay Content !-->
</div>
<!-- END OVERLAY -->
<script src="//cdnjs.cloudflare.com/ajax/libs/interact.js/1.2.9/interact.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- JS at bottom of page to improve load time, and only loaded once with 'data-turbolinks-eval' == false  -->

<script>
    $(document).ready(function () {

        $('[data-pages="search"]').click(function () {
            $(".list-view-wrapper").scrollbar();
            $("#search-results-users").children().remove();
            $("#search-results-mygroups").children().remove();
            $("#search-results-groups").children().remove();
            search('');
        });

        // Initializes search overlay plugin.
        // Replace onSearchSubmit() and onKeyEnter() with
        // your logic to perform a search and display results
        $(".list-view-wrapper").scrollbar();

      /*
       * click event in search page
       *
       * */
        $('[data-pages="search"]').search({
            // Bind elements that are included inside search overlay
            searchField: '#overlay-search',
            closeButton: '.overlay-close',
            suggestions: '#overlay-suggestions',
            brand: '.brand',
            // Callback that will be run when you hit ENTER button on search box
            onSearchSubmit: search,
            // Callback that will be run whenever you enter a key into search box.
            // Perform any live search here.
            onKeyEnter: search
        })
    });


    $('.panel-collapse label').on('click', function (e) {
        e.stopPropagation();
    })


    /*
     * ajax
     * GET /user/:user_id/search/:word
     *
     * */
    function search(searchString) {

        var searchField = $('#overlay-search');
        var searchResults = $('.search-results');

        $.ajax({

            url: "<%= authenticated_root_url %>users/<%= current_user.id %>/search/".concat(searchString),
            method: "GET",
            dataType: "json",
            success:function (result) {

                var users = result.users;
                var mygroups = result.mygroups;
                var groups = result.groups;

                var users_html = '';
                var mygroups_html = '';
                var groups_html = '';

                $("#search-results-users").children().remove();
                $("#search-results-mygroups").children().remove();
                $("#search-results-groups").children().remove();

                $.each(users, function (index, entry) {

                    users_html =
                        '<div>' +
                        '<div class="thumbnail-wrapper d48 circular bg-success text-white inline m-t-10">' +
                        '<div>' +
                        '<%= image_tag('profiles/avatar.jpg') %>' +
                        '</div>'  +
                        '</div>'  +
                        '<div class="p-l-10 inline p-t-5">' +
                        '<h5 class="m-b-5">' +
                        entry.email+
                        '</h5>' +
                        '<p class="hint-text">' +
                        entry.email+
                        '</p>'+
                        '</div>'  +
                        '</div>';

                    $("#search-results-users").append(users_html);

                });


                $.each(mygroups, function (index, entry) {
                    mygroups_html =
                        '<div>' +
                        '<div class="thumbnail-wrapper d48 circular bg-success text-white inline m-t-10">' +
                        '<div>' +
                        '<%= image_tag('profiles/avatar.jpg') %>' +
                        '</div>'  +
                        '</div>'  +
                        '<div class="p-l-10 inline p-t-5">' +
                        '<h5 class="m-b-5">' +
                        entry.title+
                        '</h5>' +
                        '<p class="hint-text">' +
                        entry.description+
                        '</p>'  +
                        '</div>'  +
                        '</div>';
                    $("#search-results-mygroups").append(mygroups_html);
                });

                $.each(groups, function (index, entry) {
                    groups_html =
                        '<div>' +
                        '<div class="thumbnail-wrapper d48 circular bg-success text-white inline m-t-10">' +
                        '<div>' +
                        '<%= image_tag('profiles/avatar.jpg') %>' +
                        '</div>'  +
                        '</div>'  +
                        '<div class="p-l-10 inline p-t-5">' +
                        '<h5 class="m-b-5">' +
                        entry.title+
                        '</h5>' +
                        '<p class="hint-text">' +
                        entry.description+
                        '</p>'  +
                        '</div>'  +
                        '</div>';
                    $("#search-results-groups").append(groups_html);
                });

                return false;
            },
            error:function(e){
                alert(e.responseText);
            }
        });
    }


</script>
<%= javascript_include_tag "application", "data-turbolinks-track" => "reload"%>

</body>
</html>